<div class="row">
    <div class="col-5">
        <div class="btn-group-vertical gap-2 mb-3" role="group" aria-label="Basic outlined example" style="width: 500px; height: 600px;">
            <button type="button" class="btn btn-outline-primary " ><i class="fa-solid fa-user me-2 fs-3" ></i> View  Profile </button>
            <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-hand-holding-dollar me-2 fs-3" ></i>Balance</button>
            <button type="button" class="btn btn-outline-primary" ><i class="fa-solid fa-money-bill-transfer me-2 fs-3" ></i>Money Transfer</button>
            <button type="button" class="btn btn-outline-primary" ><i class="fa-solid fa-file-lines me-2 fs-3" ></i>Account Statement</button>
            <button type="button" class="btn btn-outline-primary" ><i class="fa-solid fa-user-slash me-2 fs-3"></i>Delete Account</button>
            <button (click)="logout()" type="button" class="btn btn-outline-primary" ><i class="fa-solid fa-right-from-bracket me-2 fs-3"></i>Log out</button>
        </div>

    </div>
    <div class="col-7">
        <div>
            <img class="w-50" style="margin-left: 100px;"
                src="https://i.postimg.cc/8kX5B3vk/financial-services-abstraction-concept-vector-design-set-banking-payment-processing-currency-exchang.avif"
                alt="">
            <p class="text-center mt-4 fs-4 me-5 fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Rem exercitationem id provident perferendis
                veniam similique libero, maiores vitae sint tenetur modi? Neque nam velit magnam expedita earum
                dignissimos maxime ad?</p>

        </div>
    </div>
</div>